@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap");

:root {
  --header-primary: #fff;
  --header-secondary: #b9bbbe;
  --text-normal: #dcddde;
  --text-muted: #72767d;
  --text-link: #00b0f4;
  --channels-default: #8e9297;
  --interactive-normal: #b9bbbe;
  --interactive-hover: #dcddde;
  --interactive-active: #fff;
  --interactive-muted: #4f545c;
  --background-primary: #36393f;
  --background-secondary: #2f3136;
  --background-secondary-alt: #292b2f;
  --background-tertiary: #202225;
  --background-accent: #4f545c;
  --background-floating: #18191c;
  --background-modifier-hover: rgba(79, 84, 92, 0.16);
  --background-modifier-active: rgba(79, 84, 92, 0.24);
  --background-modifier-selected: rgba(79, 84, 92, 0.32);
  --background-modifier-accent: hsla(0, 0%, 100%, 0.06);
  --background-mentioned: rgba(250, 166, 26, 0.05);
  --background-mentioned-hover: rgba(250, 166, 26, 0.08);
  --background-message-hover: rgba(4, 4, 5, 0.07);
  --channeltextarea-background: #40444b;

  --primary-color: #7289da;
  --primary-color-alt: #6b7fc5;
  --analog-one: #8966d1;
  --analog-two: #716bdb;
  --analog-three: #6b7fc5;
  --analog-four: #6ba1db;
  
  --error-color: #f04747;

  --sidebar-width: 300px;
  --emoji-size: 1.4em;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: var(--background-secondary);
  border-radius: 8px;
}
::-webkit-scrollbar-thumb {
  background: var(--background-tertiary);
  border-radius: 8px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  outline-style: none;
}

html {
  height: 100%;
}

body {
  line-height: 1;
  font-family: "Open Sans", Arial, sans-serif;
  width: 100%;
}

#root {
  width: 100%;
  height: 100vh;
}

::placeholder,
body,
button,
input,
select,
textarea {
  font-family: "Open Sans", Arial, sans-serif;
  text-rendering: optimizeLegibility;
}

::placeholder {
  color: var(--channels-default);
}

label {
    font-size: .7rem;
    line-height: 16px;
    color: var(--channels-default);
    font-weight: 600;
    -webkit-text-stroke: 0.15px;
}

label.input-error {
    color: var(--error-color);
}

input:not([type=submit]):not([type=file]),
select {
  width: 100%;
  padding: 10px 20px;
  margin: 8px 0;
  display: inline-block;
  background-color: var(--background-secondary);
  color: var(--text-normal);
  font-size: 0.9rem;
  border: 0.1em solid var(--background-tertiary);
  border-radius: 4px;
  box-sizing: border-box;
  transition: 0.4s ease;
}

input:not([type=submit]):not([type=file]):hover,
select:hover {
  border-color: var(--background-floating);
}

input:not([type=submit]):not([type=file]):focus,
select:focus {
  border-color: var(--primary-color-alt);
}

input:not([type=submit]):not([type=file]).input-error,
select.input-error {
    border-color: var(--error-color);
}

input[type="submit"],
button,
a.btn {
  width: 100%;
  background-color: var(--primary-color);
  color: white;
  padding: 14px 0px;
  margin: 8px 0;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.2s ease;
  font-size: 0.85rem;
  font-weight: 400;
  -webkit-text-stroke: 0.3px;
}

input[type="submit"]:hover,
button:hover,
a.btn:hover {
  background-color: var(--primary-color-alt);
}

/* Hotfix for mozilla ugly select arrow */
@supports (-moz-appearance: none) {
  select {
    -moz-appearance: none !important;
    image-rendering: crisp-edges;
    background: var(--background-secondary)
      url("data:image/gif;base64,R0lGODlhBgAGAJEAAFVVVX9/f9TU1CgmNyH5BAEAAAMALAAAAAAGAAYAAAIJlI82OHvtYBwFADs=")
      right center no-repeat !important;
    background-position: calc(100% - 5px) center !important;
  }
}

/* EMOJIS */

.agree-emoji img {
    vertical-align: text-bottom !important;
}

.agree-emoji:not(.agree-emoji-large) img {
	width: var(--emoji-size) !important;
    height: var(--emoji-size) !important;
}

.agree-emoji-large img {
    width: 2.5em !important;
	height: 2.5em !important;
}
