.app-wrapper {
    height: 100%;
    background-color: var(--background-primary);
}

.container-loading {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-chat {
    overflow: hidden;
    display: grid;
    grid-template-columns: var(--sidebar-width) 1fr;
    height: 100%;
}

.container-chat .sidebar {
    background-color: var(--background-secondary-alt);
}

.container-chat .chat-wrapper {
    overflow: hidden;
    position: relative;
}

.container-chat .chat-wrapper .bottom-section {
    width: 100%;
    padding: 0px 20px 20px 20px;
    position: absolute;
    bottom: 0;
}

.container-chat .board-wrapper {
    height: calc(100% - 76px);
    overflow-x: hidden; 
    overflow-x: auto; 
    margin-top: 5px;
    margin-right: 5px
}

#inputMessage {
    margin-top: 0;
    background-color: var(--interactive-muted);
    border-color: var(--interactive-muted);
}

#inputMessage:focus, #inputMessage:hover {
    border-color: var(--interactive-muted);
}

.container-chat .message-wrapper {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.container-chat .message-wrapper li {
    padding: 10px 22px;
    display: grid;
    grid-template-columns: 50px 1fr;
}

.container-chat .message-wrapper li:hover {
    background-color: var(--background-message-hover)
}

.container-chat .message-wrapper li .image-wrapper img {
    width: 100%;
    /*border-radius: 100%;*/
}

.container-chat .message-wrapper li .text-wrapper {
    padding-left: 10px;
}

.container-chat .message-wrapper li .text-wrapper .title {
    color: var(--header-primary);
    -webkit-text-stroke: 0.1px;
    font-size: .95rem;
    line-height: 32px;
}

.container-chat .message-wrapper li .text-wrapper .title .date {
    color: var(--channels-default);
    font-size: .6rem;
    -webkit-text-stroke: 0px;
    opacity: .8;
    padding-left: 3px
}

.container-chat .message-wrapper li .text-wrapper .msg {
    color: var(--text-normal);
    font-size: .94rem;
    line-height: 1.5rem;
}

.container-chat .user-area {
    width: var(--sidebar-width);
    position: fixed;
    bottom: 0;
    background-color: var(--background-tertiary);
    display: grid;
    grid-template-columns: 50px 1fr;
}

.container-chat .user-area .thumb-wrapper img {
    width: 100%;
    padding: 8px
}

.container-chat .user-area .user-area-data {
    padding-left: 3px;
}

.container-chat .user-area .user-area-data .username {
    color: var(--header-primary);
    font-size: .9rem;
    margin-top: 12px
}

.container-chat .user-area .user-area-data .userid {
    color: var(--channels-default);
    font-size: .8rem
}

.container-chat .room-area {
    padding: 17px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
    background-image: var(--bg-room);
    background-size: cover !important;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 160px;
    -webkit-box-shadow: inset 0px 57px 67px -24px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px 57px 67px -24px rgba(0,0,0,0.75);
    box-shadow: inset 0px 57px 67px -24px rgba(0,0,0,0.75)
}

.container-chat .room-area h1 {
    text-transform: uppercase;
    color: var(--header-primary);
    font-size: .92rem;
}

.container-chat .list-users-area .user-count {
    text-transform: uppercase;
    color: var(--header-secondary);
    font-size: 0.75rem;
    font-weight: 600;
    -webkit-text-stroke: 0.3px;
    padding-left: 15px;
    padding-top: 15px;
    margin-top: 5px;
}

.container-chat .list-users-area .user-count span::before {
    content: attr(data-count);
}

.container-chat .connected-users {
    padding: 15px 0;
}

.container-chat .connected-users li {
    width: var(--sidebar-width);
    display: grid;
    padding-left: 12px;
    grid-template-columns: 50px 1fr;
}

.container-chat .connected-users li:hover {
    background-color: var(--background-modifier-hover)
}

.container-chat .connected-users li .c-thumb-wrapper img {
    width: 100%;
    padding: 8px
}

.container-chat .connected-users li .c-user-area-data {
    padding-left: 3px;
}

.container-chat .connected-users li .c-user-area-data .c-username {
    color: var(--header-primary);
    font-size: .9rem;
    margin-top: 12px
}

.container-chat .connected-users li .c-user-area-data .c-userid {
    color: var(--channels-default);
    font-size: .8rem
}
