<!doctype html>
<html>

<head>
    <title>Agree {{ room.data.name }} server</title>
    <link rel="stylesheet" type="text/css" href="/css/global.css" />
    <link rel="stylesheet" type="text/css" href="/css/chat.css" />
</head>

<body data-room-id="{{ room.id }}">
    <div class="container">
        <div class="sidebar">
            <div class="user-area">
                <div class="thumb-wrapper">
                    <a href="#"><img src=""/></a>
                </div>
                <div class="user-area-data">
                    <p class="username"></p>
                    <span class="userid"></span>
                </div>
            </div>
        </div>
        <div class="chat-wrapper">
            <div class="board-wrapper">
                <ul id="messages" class="message-wrapper"></ul>
            </div>
            <div class="bottom-section">
                <form action="">
                    <input id="inputMessage" type="text" autocomplete="off" placeholder="Talk in {{ room.data.name }} room" />
                </form>
            </div>
        </div>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/hustcc/timeago.js@3.0.0/dist/timeago.min.js"></script>
    <script>
        (function () {

            let $ = (e) => document.querySelector(e)
            let userName = sessionStorage.getItem('selectedUsername')
            let roomId = document.body.dataset.roomId

            let timeAgo = new timeago()

            if (!userName) {
                window.location = "/"
            }

            let socket = io('/chat')

            socket.on('connect', () => {
                socket.emit('join-request', { roomId: roomId, userName: userName })

                socket.on('new-user-joined-room', function (joinedUser) {
                    if (joinedUser.id == socket.id) {
                        $('.user-area .thumb-wrapper img').setAttribute('src', joinedUser.avatar)
                        $('.user-area .user-area-data .username').innerHTML = joinedUser.name
                        $('.user-area .user-area-data .userid').innerText = joinedUser.usertag
                    } else {

                    }
                })

                $('form').addEventListener('submit', function (e) {
                    e.preventDefault()
                    socket.emit('send-message', { roomId: roomId, msg: $('#inputMessage').value })

                    $('#inputMessage').value = ''

                    return false
                })

                socket.on('new-message', function (data) {
                    $('#messages').insertAdjacentHTML(
                        'beforeend',
                        `<li>
                            <div class="image-wrapper">
                                <img src="${data.sender.avatar}"/>
                            </div>
                            <div class="text-wrapper">
                                <p class="title">${data.sender.name} <span class="date timeago" datetime="${data.timestamp}"></span></p>
                                <p class="msg">${data.msg}</p>  
                            </div>
                        </li>`
                    )

                    timeAgo.render(document.querySelector('#messages li:last-child .timeago'));

                    $('.board-wrapper').scrollTop = $('.board-wrapper').scrollHeight;
                })
            })

        })()
    </script>
</body>

</html>