.container-index {
    height: 100%;
    background-color: var(--background-tertiary);
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 27vw;
}

.container-index .app-logo {
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    margin: 20px;
    width: 150px;
}

.container-index .section-wrapper {
    width: 480px;
    padding: 40px;
    font-size: 18px;
    color: var(--text-normal);
    background: var(--background-primary);
    -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    position: absolute;
    z-index: 3;
}

.container-index .section-loading {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-index .section-wrapper .title {
    color: var(--header-primary);
    font-size: 1.4rem;
    line-height: 24px;
    margin-bottom: 8px;
    font-weight: 500;
    text-align: center;
}

.container-index .section-wrapper .subtitle {
    color: var(--header-secondary);
    font-size: .9rem;
    line-height: 20px;
    text-align: center;
    margin-bottom: 30px;
}

.container-index .blobCanvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}

@media only screen and (max-width: 768px) {
    .container-index {
        justify-content: center;
        padding-left: 0;
    }

    .container-index .section-wrapper {
        width: 95%;
        padding: 20px;
    }

    .container-index .section-wrapper .subtitle {
        font-size: 0.9rem;
        line-height: 18px;
        margin-top: 20px;
    }
}
